.body
{
    font-weight: 1000;
}
/* home-page styles */
#home-user-options
{
    position: absolute;
    right: 0%;
}

#home-title
{
    position: absolute;
    top: 10%;
    left: 45%;
    color: white;
    font-size: 24px;
}

#home-search-form
{
    position: absolute;
    top: 20%;
    left: 35%;
}

#home-search-bar
{
    width: 400px;
}

#home-picks
{
    position: absolute;
    float: left;
    top: 30%;
    left: 35%;
}

.home-pick-title
{
    text-shadow: 12px;
    text-decoration-color: blueviolet;
}

.home-slot-container
{
    float: left;
}

.home-pick-slot
{
    float: left;
    vertical-align: middle;
    padding: 12px;
}

.home-pick-slot:hover
{
    border: 2px solid;
    border-color: crimson;
}

.home-arrow-button
{
    float: left;
    vertical-align: middle;
}

img
{
    width: 100px;
    height: 100px;
    float: center;
}

.home-img
{
    position: relative;
    height: -100px;
}

/* end home-page styles */
/* -----------------------------------*/

/* result-page styles*/

#result-search-container
{
    position: absolute;
    top: 30%;
    left: 30%;
}

.result-search-result
{
    padding: 10px;
    width: 400px;
    height: 200px;
    
}

.result-search-result:hover
{
    border: 2px solid;
    border-color: crimson;
}

/*account */
#account-title
{
    position: absolute;
    top: 20%;
    left: 40%;
    float: center;
    color: white;
    font-size: 24px;
}